global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend livekit_tcp
    bind *:7881
    default_backend livekit_tcp_backend

backend livekit_tcp_backend
    server mac_livekit 10.10.10.2:7881 check

frontend turn_tls
    bind *:5349
    default_backend turn_tls_backend

backend turn_tls_backend
    server mac_turn 10.10.10.2:5349 check
